
Download OAK

* Latest <<SNAPSHOT>> Release:

*--------------------------------------*------------------------------------------------------------------------:
| oak-distribution-${project.version}  | {{{./downloads/oak-distribution-${project.version}-bin.zip}zip}}       |
*--------------------------------------*------------------------------------------------------------------------:
|                                      |{{{./downloads/oak-distribution-${project.version}-bin.tar.gz}tar.gz}}  |
*--------------------------------------*------------------------------------------------------------------------:
|                                      |{{{./downloads/oak-distribution-${project.version}-bin.tar.bz2}tar.bz2}}|
*--------------------------------------*------------------------------------------------------------------------:

* Latest <<STABLE>> Release:

*--------------------------------------*----------------------------------------------------------------------------:
|oak-distribution-${latestStableVersion}| {{{./downloads/oak-distribution-${latestStableVersion}-bin.zip}zip}}    |
*--------------------------------------*----------------------------------------------------------------------------:
                                       |{{{./downloads/oak-distribution-${latestStableVersion}-bin.tar.gz}tar.gz}}   |
*--------------------------------------*----------------------------------------------------------------------------:
                                      |{{{./downloads/oak-distribution-${latestStableVersion}-bin.tar.bz2}tar.bz2}}|
*--------------------------------------*----------------------------------------------------------------------------:
