Quick Start Guide

 NOTE: You will need to make sure your Android SDK is up to date. Make sure you're using Revision 19 or higher.
 (To update your tools run the "android" command in your Android SDK and update the SDK from there.) Afterwards, be sure to run the maven-android-sdk-deployer to put your SDK platforms into your maven repo.

* Just Use Maven (recommended)

* Archetype with Roboguice

 Simple copy-paste the following command to get up-and-running with a template project using Roboguice and ActionBarSherlock.

+---
 mvn archetype:generate -DarchetypeGroupId=com.willowtreeapps -DarchetypeArtifactId=oak-archetype \
                        -DarchetypeVersion=${project.version} \
                        -DarchetypeRepository=${project.distributionManagement.snapshotRepository.url}
+---

 Run the following inside the newly created subdirectory.

+---

mvn clean install

+---

 Then, if you're using IntelliJ, you can just open the created pom.xml file via (File -> Open Project...)

* Archetype with Dagger (minSdk 10 with AppCompat)

 Like above, copy and paste the following command to get started with a project using Dagger and AppCompat.

+---
 mvn archetype:generate -DarchetypeGroupId=com.willowtreeapps -DarchetypeArtifactId=oak-dagger-archetype \
                        -DarchetypeVersion=${project.version} \
                        -DarchetypeRepository=${project.distributionManagement.snapshotRepository.url}
+---

 Run the following inside the newly created subdirectory.

+---

mvn clean install

+---

 Then, if you're using IntelliJ, you can just open the created pom.xml file via (File -> Open Project...)

* Archetype with Dagger (minSdk 15)

 Like above, copy and paste the following command to get started with a project using Dagger.

+---
 mvn archetype:generate -DarchetypeGroupId=com.willowtreeapps -DarchetypeArtifactId=oak-dagger-api15-archetype \
                        -DarchetypeVersion=${project.version} \
                        -DarchetypeRepository=${project.distributionManagement.snapshotRepository.url}
+---

 Run the following inside the newly created subdirectory.

+---

 mvn clean install

+---

 Then, if you're using IntelliJ, you can just open the created pom.xml file via (File -> Open Project...)


* Gradle Archetype with Dagger (In development: Consider this a beta)

 Like above, copy and paste the following command to get started with a project using Dagger.

+---
 mvn archetype:generate -DarchetypeGroupId=com.willowtreeapps -DarchetypeArtifactId=oak-gradle-archetype \
                         -DarchetypeVersion=${project.version} \
                         -DarchetypeRepository=${project.distributionManagement.snapshotRepository.url}
+---

 This will create a basic project using Gradle

 From there, import project into Android Studio and develop away!








