Quick Start Guide

 NOTE: You will need to make sure your Android SDK is up to date. Make sure you're using Revision 15 or higher.
 (To update your tools run the "android" command in your Android SDK and update the SDK from there.)

* Just Use Maven (recommmended)

 Simple copy-paste the following command to get up-and-running with a template project.

+---
 mvn archetype:generate -DarchetypeGroupId=com.willowtreeapps -DarchetypeArtifactId=oak-archetype \
                        -DarchetypeVersion=${project.version} \
                        -DarchetypeRepository=${project.distributionManagement.snapshotRepository.url}
+---

 Run the following inside the newly created subdirectory.

+---

mvn clean install

+---

 Then, if you're using IntelliJ, you can just open the created pom.xml file via (File -> Open Project...)







