<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oak.demo"
    android:versionCode="1202211071"
    android:versionName="1.3.7-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    <application
        android:name=".OakApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        <activity
            android:name=".OakDemos"
            android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listview.SectionActivity"
            android:label="@string/filter_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ResizedTextViewActivity"
            android:label="@string/resized_textview_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.TextViewWithFontActivity"
            android:label="@string/textview_with_font_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.CancelEditTextActivity"
            android:label="@string/cancel_edit_text_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.SpreadsheetViewActivity"
            android:label="@string/spreadsheet_view_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>

        <activity
            android:name=".other.ObscuredPrefsActivity"
            android:label="@string/encrypted_prefs_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image.SwankyGalleryActivity"
            android:label="@string/swanky_gallery_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.CustomProgressDialogActivity"
            android:label="@string/custom_progress_dialog_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ButtonWithFontActivity"
            android:label="@string/button_with_font_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.ChangeFontsActivity"
            android:label="@string/change_font_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.IsPackageInstalledActivity"
            android:label="@string/is_package_installed_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nfc.TagWriterActivity"
            android:label="@string/tag_writer_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/oaktagwriter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ParentSwipingViewPagerActivity"
            android:label="@string/parent_swiping_view_pager_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.ParentSwipingWebViewActivity"
            android:label="@string/parent_swiping_web_view_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.CustomCircularProgressBarActivity"
            android:label="@string/custom_circular_progress_bar_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.CheckBoxWithFontActivity"
            android:label="@string/check_box_with_font_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.GradientTextViewActivity"
            android:label="@string/gradient_text_view_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.FontTypeFaceSpanActivity"
            android:label="@string/font_span_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.AspectRatioLayoutActivity"
            android:label="@string/aspect_ratio_layout_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.WtaLogoFragmentActivity"
            android:label="@string/wta_animated_logo_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.VerticalViewPagerActivity"
            android:label="@string/vertical_view_pager"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewmodel.ViewModelActivity"
            android:label="ListView/ViewModel ListView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".svg.AttributionActivity"
            android:label="@string/svg_attribution_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".svg.FullLogoAttributionActivity"
            android:label="@string/svg_full_attribution_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebLaunchActivity"
            android:label="@string/web_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
                <category android:name="oak.android.intent.category.OAK" />
            </intent-filter>
        </activity>
        <activity android:name="oak.web.WebViewActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
</manifest>